<!doctype html>
<html lang="en">

<head>
    <title>Tamil-Calendar</title>
    <link rel="icon" href="/static/img/mk.png" type="image/png" sizes="16x16">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content= "Tamil Calendar">
    <meta name="description" content="calendar">
    <meta name="keywords" content="Tamil calendar">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Mukesh Raja Kannan">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        .card {
            margin: 0 auto;
            /* Added */
            float: none;
            /* Added */
            margin-bottom: 10px;
            /* Added */
        }
    </style>

</head>

<body style="background-image: linear-gradient(to right, rgb(107, 211, 162), rgb(107, 156, 211));">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">&#x2630;</button> <a
            class="navbar-brand" href="#">Tamil Calendar</a>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active nav-item"><a href="#" class="nav-link">Home</a>
                </li>
            </ul>
           
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='img/daily.jpg') }}" alt="Monthly Image">
                <div class="card-body">
                    <h5 class="card-title">Today Calendar</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Today Calendar</h6>
                    <p class="card-text">{{x}}</p>
                    <a href="/today-calender" class="card-link">Click Here</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='img/daily.jpg') }}" alt="Monthly Image">
                <div class="card-body">
                    <h5 class="card-title">Calendar all year</h5>
                    <h6 class="card-subtitle mb-2 text-muted">2005-2021</h6>
                    <p class="card-text">Tamil Calendar 2005-2022</p>
                    <a href="/all-calender" class="card-link">Click Here</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='img/monthly.jpg') }}" alt="Monthly Image">

                <div class="card-body">
                    <h5 class="card-title">Monthly Calendar</h5>
                    <h6 class="card-subtitle mb-2 text-muted">2005 to Current Year</h6>
                    <p class="card-text">Tamil Monthly Calendar 2005-current Year</p>
                    <a href="/montly-calendar" class="card-link">Click Here</a>
                </div>
            </div>


        </div>
    </div>
    <br>
    <footer class="text-center">
        <div class="wrap copyright">
            Made with love &#128147; by
            <a href="#" >Mukesh Raja K </a>
        </div>
    </footer>
</body>

</html>