<!doctype html>
<html lang="en">

<head>
    <title>World-News</title>
    <meta charset="utf-8">
    <meta name="title" content="World News">
    <meta name="description" content="All News Available">
    <meta name="keywords" content="World,News">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Mukesh Raja Kannan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/news.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        h5 {
        color: rgb(12, 12, 12);
        font-weight: 500;
        }

        h3 {
        text-align: center;
        }

        .card {
        display: flex !important;
        margin-right: auto;
        margin-left: auto;
        }

        @keyframes colorChange {
        0% {
        color: red;
        }

        25% {
        color: blue;
        }

        50% {
        color: green;
        }

        75% {
        color: orange;
        }

        100% {
        color: red;
        }
        }

        .animated-text {
        animation: colorChange 5s infinite;
        /* Change the duration as needed */
        }
        </style>

</head>

<body style="background-image: linear-gradient(to right, rgb(107, 211, 162), rgb(107, 156, 211));">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">&#x2630;</button> <a
            class="navbar-brand" href="/">World News</a>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active nav-item"><a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item"><a href="/tech" class="nav-link">Technology</a>
                </li>
                <li class="nav-item"><a href="/sports" class="nav-link">Sports</a>
                </li>
                </li>
                <li class="nav-item"><a href="/general" class="nav-link">General</a>
                </li>
                </li>
                <li class="nav-item"><a href="/entertainment" class="nav-link">Entertainment</a>
                </li>
                </li>
                <li class="nav-item"><a href="/science" class="nav-link">Science</a>
                </li>
                <li class="nav-item"><a href="/business" class="nav-link">Business</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a href="/about" class="nav-link"><span
                            class="glyphicon glyphicon-user"></span>About</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            {% for news, desc, img,url in context %}

            <div class="card" style="min-width: 18rem; max-width: 18rem;">
                <img class="card-img-top" src="{{img}}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="animated-text" class="card-title">Title :{{news}}</h3>
                    <h5  class="card-text">Description: {{desc}}</h5>
                    
                    <a href="{{url}}" class="card-link">Click Here</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</body>

</html>